	<!-- footer部分 -->
    <!-- 灰色横条 -->
    <div class="bg-grey">
        <div class="container">
            <div class="row">
                <div class="col-lg-2 col-md-4 col-6 ">
                    <div class="service-item d-flex justify-content-center">
                        <i class="f-icon f-icon-qi"></i>
                        <span>问题包退</span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-6 ">
                    <div class="service-item d-flex justify-content-center">
                        <i class="f-icon f-icon-zheng"></i>
                        <span>正品保障</span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-6 ">
                    <div class="service-item d-flex justify-content-center">
                        <i class="f-icon f-icon-hao"></i>
                        <span>好评如潮</span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-6 ">
                    <div class="service-item d-flex justify-content-center">
                        <i class="f-icon f-icon-shan"></i>
                        <span>闪电配送</span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-6 ">
                    <div class="service-item d-flex justify-content-center">
                        <i class="f-icon f-icon-quan"></i>
                        <span>权威荣誉</span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-6 ">
                    <div class="service-item d-flex justify-content-center">
                        <i class="f-icon f-icon-kefu"></i>
                        <span>咨询客服</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- dark部分 -->
    <div class="footer-body">
        <div class="container">
            <div class="row vertical-list">
                <div class="col-lg-2 col-md-4 col-6 text-center mb-4">
                    <h5>用户指引</h5>
                    <ul>
                        <li><a href="">售后流程</a></li>
                        <li><a href="">购物流程</a></li>
                        <li><a href="">订购方式</a></li>
                    </ul>
                </div>
                <div class="col-lg-2 col-md-4 col-6 text-center mb-4">
                    <h5>配送与支付</h5>
                    <ul>
                        <li><a href="">货到付款区域</a></li>
                        <li><a href="">配送支付智能查询</a></li>
                        <li><a href="">支付方式说明</a></li>
                    </ul>
                </div>
                <div class="col-lg-2 col-md-4 col-6 text-center mb-4">
                    <h5>服务保证</h5>
                    <ul>
                        <li><a href="">退换原则</a></li>
                        <li><a href="">服务保证</a></li>
                        <li><a href="">质量保证</a></li>
                    </ul>
                </div>
                <div class="col-lg-2 col-md-4 col-6 text-center mb-4">
                    <h5>联系我们</h5>
                    <ul>
                        <li><a href="">质量服务投诉</a></li>
                        <li><a href="">意见反馈</a></li>
                        <li><a href="">员工招聘</a></li>
                    </ul>
                </div>
                <div class="col-lg-2 col-md-4 col-6 mb-2">
                    <div class="qrcode-box">
                        <img src="__index__/img/qrcode.png" alt="">
                        <div class="qrcode-title">微信公众号</div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-6 mb-2">
                    <div class="qrcode-box">
                        <img src="__index__/img/logo2.png" alt="">
                        <div class="qrcode-title">Logo</div>
                    </div>
                </div>
            </div>
            <!--  分隔线  -->
            <div class="apart-line"></div>
            <ul class="clearfix text-center horizontal-list d-flex justify-content-center">
                <li><a href="#">客户服务</a></li>
                <li><a href="#">我的收藏</a></li>
                <li><a href="#">我的浏览</a></li>
                <li><a href="#">我的订单</a></li>
            </ul>
            <p class="copyright">
                Copyright © 2020 <a href="">passerbyYSQ</a>. All Rights Reserved | <a href=""> 粤ICP备20036780号</a><br>
                Powered by <a href="">passerbyYSQ</a> 1127664027@qq.com
            </p>
        </div>
    </div>