/* common */
* {
    padding: 0;
    margin: 0;
}
ul {
    list-style: none;
    margin-bottom: 0;
}
ul > li {
    padding: 0 12px;
    float: left;
}
ul.pagination > li {
	padding: 0;
}
a {
    color: #8c8c8c;
    text-decoration: none !important;
}
a:hover {
    color: #f42424 !important;
}
.form-group label {
    font-weight: 700;
}

/* 重写分页按钮的样式 */
.page-item.active .page-link {
	background-color: #f42424;
	border-color: #f42424;
}
.page-link {
	color: #8c8c8c;
}


/* 导航栏 */
.navbar {
    padding-top: 0;
    padding-bottom: 0;
	border-bottom: 2px solid #f42424;
}
.navbar-brand {
    /*height: 100%;*/
    font-size: 22px;
    text-align: center;
    color: #f42424 !important;
    border-radius: 8px 8px 0 0;
    /*border: 2px solid #f42424;*/
    border-bottom: none;
    padding: 14px 32px;
}